<!DOCTYPE html><!--comentario-->
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monografía</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head><!--comentario-->
<body>
  <header>
    <nav>
      <div class="col-xs-12"><a href="{% url 'url_home' %}">Regresar a la página principal</a></div>
    </nav>
    <section>
      <article class="col-xs-8"></article>
      <img class="col-xs-4" src="" alt="" />
      <div class="section_div-grande">
        <div class="section_div-titulos"></div>
        <div class="section_div-titulos"></div>
        <div class="section_div-precios"></div>
        <div class="section_div-precios"></div>
      </div>
    </section>
  </header>
  <main>
    <section>
      <div class="col-xs-12">
        <p>Regiones</p>
      </div>
      <article class="col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </p>
      </article>
    </section>
    <section class="main-section_table">
      <div class="col-xs-12">
        <p>Temporadas y Climas</p>
      </div>
      <table class="table table-condensed">
        <tr>
          <td>Temporada</td>
          <td>Clima</td>
          <td>Humedad</td>
        </tr>
        <tr>
          <td>Invierno</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Primavera</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Verano</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Otoño</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </section>
    <section class="main-section_cuidados">
      <div class="col-xs-12">
        <p>Cuidados Generales</p>
      </div>
      <article class="main-section_article_cuidados" class="col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </p>
      </article>
    </section>
  </main>
  <footer>
    <nav>
      <div class="col-xs-12"><a href="#">Más información sobre este cultivo</a></div>
    </nav>
  </footer>
<script type="text/javascript" src="bootstrap/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
<html>
